/* ==UserStyle==
@name           custom anilist.co
@namespace      smowtenshi.io
@version        1.0.2
@description    for use with Anilist Modifications (https://userstyles.world/style/5243/anilist-modifications) and Automail userscript (https://github.com/hohMiyazawa/Automail)
@author         smowtenshi
==/UserStyle== */

@-moz-document url-prefix("https://anilist.co/home") {
	div.recent-threads,
	.recent-reviews {
		display: none !important;
	}
	#hohListPreview {
		display: none !important;
	}
	.list-previews .list-preview-wrap {
		display: initial !important;
	}
	/* #hohListPreview > .list-preview-wrap > .list-preview {
		grid-template-columns: repeat(auto-fill, 85px) !important;
		grid-template-rows: repeat(auto-fill, 115px) !important;
	}
	#hohListPreview + .list-previews .list-preview-wrap{
		display: block !important;
	} */
}

@-moz-document url-prefix("https://anilist.co/anime"),url-prefix("https://anilist.co/manga") {
	.hohStatusDot {
		display: none !important; /* hide until there is an option in script itself */
	}
	div.episodes {
		display: none !important; /* useless crunchyroll */
	}
}

@-moz-document regexp("https:\\/\\/anilist\\.co\\/(anime|manga)\\/[0-9]*\\/\\S*\\/(?!social)") {
	div.following {
		width: 202.5% !important; /* to fill that empty space in the middle, just wtf this value has to be */
	}
}

@-moz-document url-prefix("https://anilist.co/user") {
	.favourite.studio::after {
		content: none !important; /* ugly fix for broken pictures */
		/* grid-template-rows: unset; !important;* */
	}
}


@-moz-document domain(anilist.co) {
	.hohDismiss,
	.hohDownload,
	.hohAdvancedDollar {
		display: none !important; /* hide automail specific elements on the whole site */
	}

	.el-dialog.list-editor {
		margin-top: 4% !important;
	}

	.list-editor-wrap .el-input,
	.list-editor-wrap .el-input-number,
	.list-editor-wrap .el-select {
			width: auto;
	}

	.list-editor-wrap .list-editor .body .custom-lists {
		height: unset !important;
	}
	.list-editor-wrap .list-editor .body {
		padding-bottom: 50px !important;
	}
}