/* ==UserStyle==
@name           debloated nypost.com
@namespace      smowtenshi.io
@version        1.0.0
@description    kind-of bloat-less experience for nypost.com
@author         smowtenshi
==/UserStyle== */

@-moz-document domain("nypost.com") {
	#header-cta-sports-plus-desktop,     /* something something sport+ */
	.layout__item.layout__item--sidebar, /* dumb shit you can find in here */
	.single__inline-module.alignleft,    /* some "related" articles */
	.brightcove-video.alignnone,         /* useless video player */
	.article-footer__read-next,
	.membership-comments-container,
	.membership-reactions-module,
	.more-stories,
	.comments-inline-cta {
		display: none !important;
	}

	/* widen main text */
	.layout--sidebar > .layout__grid {
		grid-template-columns: inherit !important;
	}
}